<%= form_for(@listing, :html => { :multipart => true }) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h4>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.radio_button(:category, "Vienesse Pastry") %> <%= f.label(:category_category1, "Vienesse Pastry") %><br>
    <%= f.radio_button(:category, "Cakes and Tortes") %> <%= f.label(:category_category2, "Cakes and Tortes")%> <br>
    <%= f.radio_button(:category, "Plated Desserts") %> <%= f.label(:category_category3, "Plated Desserts") %><br>
    <%= f.radio_button(:category, "Breads, Rolls and Breakfast Pastry") %> <%= f.label(:category_category3, "Breads, Rolls and Breakfast Pastry") %> <br>
    <%= f.radio_button(:category, "Misc") %> <%= f.label(:category_category3, "Misc") %> 
  </div>  
 <hr>
 <div class="form-group">
    <% if @listing.image.exists? %>
      <%= f.label "Current image file name: " %><br>
      <%= image_tag @listing.image_file_name %><br/>
    <% end %>
  </div>  
  <div class="form-group">
    <%= f.label "New image file name: " %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary"%>
  </div>
<% end %>
