<!-- Create a 2 column table to show the entry.  Col 1 is the image, col2 two is the rest -->
<title>Show Listing</title>
<div class="row">
   <div class="col-md-4">
	<div class="thumbnail">
	  <%= image_tag @listing.image.url %>
	</div>
   </div>
   <div class="col-md-8">
	<h3><%= @listing.name %></h3>
	<h4><%= @listing.category %></h4>
	<p><%= @listing.description %></p>
   </div>			
</div>

<% if user_signed_in? %>
	<%= link_to 'Edit', edit_listing_path(@listing), class:"btn btn-link" %> 
<% end %>

<% case session[:viewtype] %>
	<% when 'table' %>
	  <% if session[:category] != "none"%>
	  	<%= link_to 'Back to Listings', listingbycattable_path(category: session[:category]), class:"btn btn-link" %>
	  <% else %>
	  	<%= link_to 'Back to Listings', listings_path, class:"btn btn-link" %>
	  <% end %>
	<% when 'list' %>
	  <% if session[:category] != "none"%>
	  	<%= link_to 'Back to Listings', listingbycat_path(category: session[:category]), class:"btn btn-link" %>
	  <% else %>
	  	<%= link_to 'Back to Listings', listview_path, class:"btn btn-link" %>
	  <% end %>
	<% end %>
	