<div class="center" >
<title>Monica's Portfolio</title>
<div class="row">
	<div class="col-xs-6 col-md-3">
	   <div class="medium">
	   	<%= link_to image_tag('https://dl.dropboxusercontent.com/s/uxfxgvdzsakb3dt/vienesse2.png?dl=0'), listingbycattable_path(category: "Vienesse Pastry")%>
	    <div class="caption">
	      <h3><%= "Vienesse Pastry" %></h3>
	    </div>
	  </div>	
	</div>

	<div class="col-xs-6 col-md-3">
	   <div class="medium">
	   	<%= link_to image_tag('https://dl.dropboxusercontent.com/s/ntiigju9muvbxge/3_ctcake.jpg?dl=0'),  listingbycattable_path(category: "Cakes and Tortes")%>
	    <div class="caption">
	      <h3><%= "Cakes and Tortes" %></h3>
	    </div>
	  </div>	
	</div>
	<div class="col-xs-6 col-md-4">
	   <div class="medium">
	    <%= link_to image_tag('https://dl.dropboxusercontent.com/s/sk4v57xuk45rhyy/2_BakedAlaska.jpg?dl=0'), listingbycattable_path(category: "Plated Desserts")%>
	    <div class="caption">
	      <h3><%= "Plated Desserts" %></h3>
	    </div>
	  </div>	
	</div>
	<div class="col-xs-6 col-md-4">
	   <div class="medium">
	   	<%= link_to image_tag('https://dl.dropboxusercontent.com/s/thxj3irv7sn9ve3/rolls2.png?dl=0'), listingbycattable_path(category: "Breads, Rolls and Breakfast Pastry")%>
	    <div class="caption">
	      <h3><%= "Breads, Rolls and Breakfast Pastry" %></h3>
	    </div>
	  </a>	
	</div>
</div>
<br><br>
<div class="row">
	<div class="col-xs-6 col-md-4">
	   <div class="medium">
	   	<%= link_to image_tag('https://dl.dropboxusercontent.com/s/t1qex1mfkh29wnf/misc2.png?dl=0'), listingbycattable_path(category: "Misc")%>
	    <div class="caption">
	      <h3><%= "Misc" %></h3>
	    </div>
	  </div>	
	</div>
</div>
</div>
<br><br>